.container {
  background-image: linear-gradient(
    to top,
    #2d00443c,
    #fff 2%,
    #ffc1e3 20%,
    #fff
  );
  padding: 15rem 10rem 10rem;
  position: relative;
  z-index: 20;
  overflow: visible;
  height: max(98vh, fit-content);
}
.heading {
  text-align: center;
  font-size: clamp(2.4rem, 5vw, 6rem);
}
.socials {
  display: flex;
  max-width: 80rem;
  margin: 10rem auto;
  gap: 10vw;
  justify-content: center;
}
.icon {
  width: 8rem;
  height: 8rem;
  background-color: var(--color-primary-md);
  padding: 1rem;
  border-radius: var(--border-radius-large);
  color: var(--color-text-light);
  transition: background-color 0.3s;
}
.icon:hover {
  background-color: var(--color-primary-light);
}

/* MEDIA */
@media only screen and (max-width: 56.25em) {
  .icon {
    width: 5rem;
    height: 5rem;
  }
}
/* MEDIA */
@media only screen and (max-width: 31.25em) {
  .container {
    padding: 20rem 3rem 10rem;
  }
  .icon {
    width: 3rem;
    height: 3rem;
  }
}
