.card {
  display: flex;
  padding: 0.5rem 4rem 0.1rem;
  gap: 5rem;
  width: 100%;
  text-transform: uppercase;
  color: var(--color-text-dark);
}
.card:hover {
  filter: brightness(60%);
}
.learnMore {
  align-self: flex-end;
  font-size: 1rem;
  font-weight: 700;
}
.courseName {
  align-self: center;
  letter-spacing: 1px;
  font-size: clamp(1rem, 3.4783vw + 0.3043rem, 6rem);
  line-height: 1.25em;
}
.sertificate {
  opacity: 0;
  transform: translateX(200px);
  /* transform: translate3d(200px); */
}
.s1 {
  background-color: rgba(166, 0, 91, 0.9);
  /* opacity: 0; */
}
.s2 {
  background-color: rgba(85, 0, 61, 0.8);
  /* opacity: 0; */
}
.s3 {
  background-color: rgba(45, 0, 68, 0.8);
  /* opacity: 0; */
}
.s4 {
  background-color: rgba(166, 0, 91, 0.9);
  /* opacity: 0; */
}
