.container {
  background-color: var(--color-background);
  padding: 15rem 10rem;
  position: relative;
  z-index: 20;
  overflow: visible;
}
.container h2 {
  text-align: center;
  font-weight: 700;
  letter-spacing: 3px;
}
.innerContainer {
  z-index: 20;
  display: grid;
  grid-template-columns: max-content 1fr;
  justify-items: center;
  align-items: center;
  gap: 3rem;
  margin: 5rem auto;
  max-width: 70rem;
}

.image {
  width: 25rem;
  height: 85%;
  background-color: var(--color-primary-dark);
  background-image: url(../../../assets/logo.png);
}

.descContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.descContainer h3 {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: var(--color-gray-400);
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 0.5rem;
}
.descContainer span {
  font-size: 2.2rem;
  font-weight: bold;
  background-color: rgba(32, 191, 254, 0.1);
}
.tagsContainer {
  display: flex;
  gap: 1.5rem;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}
.btn__tag {
  background-color: var(--color-primary-dark);
  padding: 0.6rem 1.2rem;
  border-radius: 100px;
  font-size: 1.2rem;
  color: var(--color-text-light);
  transition: all 0.3s;
}
.btn__tag:hover {
  background-color: var(--color-primary-md);
}

.btn__github {
  align-self: flex-start;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 1rem 2rem;
  border-radius: 4px;
  font-size: 1.6rem;
  border: 1px solid var(--color-text-dark);
  color: var(--color-text-dark);
  transition: all 0.3s;
}
.btn__github:hover {
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.arrowIcon {
  transition: all 0.3s;
}

.btn__github:hover .arrowIcon {
  transform: translateX(5px);
}
