.container {
  background-image: linear-gradient(
    to bottom,
    #2d00443c,
    #fff 2%,
    #ffc1e3 20%,
    #fff
  );
  padding: 15rem 10rem 5rem;
  position: relative;
  z-index: 20;
  overflow: visible;
}
.container h2 {
  text-align: center;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 4rem;
}
.innerContainer {
  z-index: 20;
  display: grid;
  grid-template-columns: max-content 1fr;
  justify-items: center;
  align-items: center;
  gap: 3rem;
  margin: 5rem auto;
  max-width: 80rem;
}

.image {
  width: 25rem;
  height: 40rem;
  background-color: var(--color-primary-dark);
  color: var(--color-accent-blue);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 11rem;
  line-height: 1.2;
}

.descContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.descContainer h3 {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: rgba(166, 0, 91, 0.6);
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.descContainer span {
  font-size: 2.2rem;
  font-weight: bold;
  background-color: rgba(32, 191, 254, 0.1);
}
.tagsContainer {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1rem;
}
.btn__tag {
  background-color: rgba(45, 0, 68, 0.8);
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  font-size: 1.2rem;
  color: var(--color-text-light);
  transition: all 0.3s;
}
.btn__tag:hover {
  background-color: rgba(166, 0, 91, 0.9);
}

.btn__github {
  align-self: flex-start;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 1rem 2rem;
  border-radius: 4px;
  font-size: 1.6rem;
  border: 1px solid var(--color-text-dark);
  color: var(--color-text-dark);
  transition: all 0.3s;
  line-height: 1;
}
.btn__github:hover {
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.arrowIcon {
  transition: all 0.3s;
}

.btn__github:hover .arrowIcon {
  transform: translateX(5px);
}
