.container {
  background-color: var(--color-primary-dark);
  margin-top: -2rem;
}
.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  padding-top: 5rem;
  padding-bottom: 10rem;
  overflow: hidden;
  overflow-x: hidden;
}
.heading {
  font-family: "Playfair Display", serif;
  color: var(--color-accent-blue);
  letter-spacing: 3rem;
  margin-right: -3rem;
  font-size: 4rem;
  font-weight: 300;
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.wrapper {
  align-self: flex-start;
  white-space: nowrap;
  position: relative;
  width: 100%;
}
.wrapper::before,
.wrapper::after {
  position: absolute;
  top: 0;
  width: 20rem;
  height: 100%;
  content: "";
  z-index: 20;
}
.wrapper::before {
  left: 0;
  background: linear-gradient(to left, transparent, var(--color-primary-dark));
}
.wrapper::after {
  right: 0;
  background: linear-gradient(to right, transparent, var(--color-primary-dark));
}

.list {
  display: inline-block;
  animation: 35s move infinite linear;
}

.listItem {
  display: inline-block;
  height: 100px;
  width: 100px;
  margin: 0 50px;
  filter: brightness(0.7);
  transition: all 0.5s;
}
.listItem:hover {
  filter: brightness(1);
  transform: scale(1.05);
}
