.container {
  background-color: var(--color-background);
  padding: 10rem 5rem;
  z-index: 20;
  overflow: hidden;
}
.heading {
  text-align: start;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 8rem;
  width: fit-content;
  border-bottom: 2px solid var(--color-primary-light);
}

@media only screen and (max-width: 31.25em) {
  .container {
    padding: 10rem 3rem 5rem;
  }
  .heading {
    margin-bottom: 5rem;
  }
}
