.container {
  background-color: var(--color-background);
  padding: 10rem 5rem;
  z-index: 20;
}
.heading {
  text-align: start;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 4rem;
  margin-bottom: 8rem;
  width: fit-content;
  border-bottom: 2px solid var(--color-primary-light);
}

.innerContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
