.container {
  width: 100%;
}
.innerContainer {
  margin: 0 auto;
  padding: 0 1rem;
  height: 8rem;
  max-width: 120rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 4rem;
  color: var(--color-accent-blue);
  line-height: 1;
  filter: brightness(0.7);
  transition: filter 0.3s;
  position: fixed;
  z-index: 999;
}
.logo:hover {
  filter: brightness(1);
}

.navList {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.link {
  color: var(--color-text-light);
  position: relative;
  transition: all 0.5s ease-out;
}
.link:hover,
.link:active {
  color: var(--color-accent-blue);
}
.link::before {
  content: "";
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-accent-blue);
  border-bottom: 1px solid var(--color-accent-blue);
  width: 0%;
  transition: all 0.5s ease-out;
  transform-origin: center;
}

.link:hover::before {
  width: 100%;
}

.menuIcon {
  height: 4rem;
  width: 4rem;
  color: var(--color-text-light);
  filter: brightness(0.7);
  transition: filter 0.3s;
  position: fixed;
  z-index: 999;
}

.menuIcon:hover {
  filter: brightness(1);
}
