.hero {
  height: 100vh;
}
.textContainer {
  width: 100%;
  max-width: max-content;
  padding: 3rem 9rem;
  margin: 8rem auto;
  color: var(--color-text-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 3rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border-radius: 10px;
}

.learnMore {
  font-size: var(--text-size-sm);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.icon {
  color: var(--color-accent-blue);
  margin-top: 2px;
}
