.footer {
  color: var(--color-text-light);
  padding: 20rem 5rem 0;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15vw;
}

.quote {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem;
  max-width: 80rem;
  /* margin: 0 auto 20rem; */
  border-radius: var(--border-radius-large);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border-right: 1px solid #20c0fe;
  border-left: 1px solid #20c0fe;
  box-shadow: inset 0 0 0.5rem 0 rgba(32, 191, 254, 0.3),
    0 0.1rem 0.5rem 0.1rem rgba(32, 191, 254, 0.3);
}
.quote blockquote {
  font-size: var(--text-size-md);
  line-height: 1.6;
}
.quote cite {
  font-size: var(--text-size-sm);
  align-self: flex-end;
  margin-right: 5rem;
}

.underline {
  width: 35vw;
  border-top: 1px solid rgba(32, 191, 254, 0.557);
  padding: 2rem 0;
  font-size: var(--text-size-sm);
  text-align: center;
  margin: 0 auto;
}

/* MEDIA */
@media only screen and (max-width: 56.25em) {
  .footer {
    padding: 10rem 3rem 0;
  }
  .quote {
    width: 80vw;
  }
}
@media only screen and (max-width: 31.25em) {
  .quote {
    width: 80vw;
    padding: 3rem;
  }
}
