ul {
  list-style: none;
}
a {
  text-decoration: none;
  font-size: 1.6rem;
}
h1 {
  font-family: "Playfair Display", serif;
  font-size: clamp(2rem, 5vw, 5.8rem);
  text-transform: uppercase;
  line-height: 1.25;
  letter-spacing: 1px;
}
h2 {
  font-family: "Playfair Display", serif;
  font-size: clamp(1.6rem, 4vw, 4rem);
  text-transform: uppercase;
  letter-spacing: 2px;
}
h3 {
  font-size: clamp(1.4rem, 3vw, 2rem);
}
h4 {
  font-size: clamp(1rem, 2vw, 1.6rem);
}
p {
  font-size: var(--text-size-md);
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
